@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}

html {
  scrollbar-width: none;
}

* {
  font-family: Inter;
}

.btn-success-register {
  width: 81px;
  height: 36px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.mt-5 {
  margin-top: 100px !important;
}

h2,
h5 {
  font-weight: bold;
}

.why-us-card-item {
  margin-top: 20px;
}

.card-title,
.card-text {
  margin-top: 16px;
}

.container-fluid {
  padding: 0px;
}

.item {
  cursor: grab;
  background-color: #f1f3ff;
}

.testi-card {
  margin: 10px;
}

.owl-carousel:hover {
  background: none;
}

/* *:not(#search-colum) {
  background-color: rgba(21, 21, 21, 0.5);
} */
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* .image-card-w-100 {
  max-height: 180px;
 

} */
.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

